{
  "/getmodel/jobs/CDS_Concentra_SFS/log.txt": {
    compress: "gzip",
    rotate: "sizeonly",
    size: "5MB",
    maxrotations: -1,
    whenempty: "skip",
    whenmissing: "skip"
  },
  "/getmodel/jobs/CDS_SOAR/log.txt": {
    compress: "gzip",
    rotate: "sizeonly",
    size: "5MB",
    maxrotations: -1,
    whenempty: "skip",
    whenmissing: "skip"
  }
}